<!DOCTYPE html>
<html>



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> QUALIS - IC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <header>
        <div class="divcabecalho">
            <div class="ufmt"><img style="width: 80% "src="~/Content/images/logo-ufmt.png"/></div>
            <div class="ic"><img style="width: 80% "src="~/Content/images/brasao-ufmt.png" /></div>
            <div class="cabecalho">
                <h2>UFMT - Universidade Federal de Mato Grosso</h2>
                <h2>IC - Instituto de Computação</h2>
            </div>
        </div>
    </header>

    <nav style= "background-color: #2a2d30 !important" class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/Home/Index">Periódicos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Home/Conferencias">Conferencias</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Home/Correlacao">Correlacao</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Home/About">Sobre</a>
            </li>
        </ul>
    </nav>
    <div class="container body-content" style="max-width:100%">
        @RenderBody()
        <hr />
        <footer style="text-align:center">
            <p>Visualização interativa dos Qualis de Conferências e Periódicos desenvolvido por Lucas J.D Oliveira sob orientação e supervisão dos professores Dr. Raphael de Souza e Dr. Thiago Meirelles Ventura do Instituto de Computação da UFMT. </p>
            <p>
                <strong>Contato:</strong>
                <span>lu4cap@gmail.com, raphael@ic.ufmt.br</span>
            </p>
            <p>
                <a href="http://ic.ufmt.br" target="blank">ic.ufmt.br</a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
