@model IEnumerable<QualisIC.Models.Extrato>

@{
    /**/

    

}

<table class="table">
    <tr>
        <th>@Html.ActionLink("ISSN", "Index", new {sortOrder = ViewBag.ISSNSortParm})</th>
        <th>@Html.ActionLink("Periódico", "Index", new { sortOrder = ViewBag.PeriodicoSortParm})</th>
        <th>@Html.ActionLink("Área", "Index", new { sortOrder = ViewBag.AreaSortParm})</th>
        <th>@Html.ActionLink("Extrato Capes", "Index", new { sortOrder = ViewBag.ExtratoSortParm })</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Periodico.ISSN)</td>
            <td>@Html.DisplayFor(modelItem => item.Periodico.Periodico_name)</td>
            <td>@Html.DisplayFor(modelItem => item.Area.Area_name)</td>
            <td>@Html.DisplayFor(modelItem => item.Extrato_nota)</td>

        </tr>
    }
</table>